<div class="repository-list"
     fxLayout="column">

    <section class="repository-list--status-messages"
             *ngIf="hasStatusMessage">
        <div *ngIf="isStatusNoResult">
            Probably the easiest way to search a repository in github.<br>Just type anything up there^
        </div>

        <div *ngIf="isStatusEmptySearchResult">
            We couldn't find any repository with this name :/
        </div>

        <div *ngIf="isStatusIncompleteResult">
            Search result may be incomplete due to github search timeout - probably you should try again a bit later
        </div>
    </section>

    <section fxLayout="row"
             *ngIf="searchResult && searchResult.total_count > 0"
             class="repository-list--result-container">

        <div fxFlexOffset="15%"
             fxFlexOffset.lg="20%"
             fxFlexOffset.sm="10"
             fxFlexOffset.xs="1"></div>

        <div fxLayout="column"
             fxFlex.lg="60%"
             fxFlex="70%"
             fxFlex.sm="80%"
             fxFlex.xs="98%">

            <ghr-repositories-chart [searchResult]="searchResult"
                                    *ngIf="chartVisible"></ghr-repositories-chart>

            <div class="result-count"
                 *ngIf="searchResult.total_count > 0">
                <span>{{formatResultCount()}}</span>

                <button *ngIf="!chartVisible"
                        mat-flat-button
                        (click)="showChart()">visualize</button>
            </div>

            <div *ngFor="let item of searchResult.items"
                 class="item">
                <ghr-repository-list-item [item]="item"></ghr-repository-list-item>
            </div>

            <footer *ngIf="searchResult.items.length < searchResult.total_count">
                <button mat-raised-button (click)="onLoadMoreClicked()">load more</button>
            </footer>
        </div>
    </section>

</div>
