<div class="repository-list"
     fxLayout="column">

    <section class="repository-list--status-messages" *ngIf="hasStatusMessage">
        <div *ngIf="!searchResult">
            Probably the easiest way to search a repository in github. <br>Just type anything up there^
        </div>

        <div *ngIf="searchResult && searchResult.total_count === 0">
            we couldn't find any repository with this name :/
        </div>
    </section>

    <section fxLayout="row"
             *ngIf="searchResult && searchResult.total_count > 0"
             class="repository-list--result-container">

        <div fxFlexOffset="15%"
             fxFlexOffset.lg="20%"
             fxFlexOffset.sm="10"
             fxFlexOffset.xs="1"></div>

        <div fxLayout="column"
             fxFlex.lg="60%"
             fxFlex="70%"
             fxFlex.sm="80%"
             fxFlex.xs="98%">

            <div class="result-count"
                 *ngIf="searchResult.total_count > 0">{{formatResultCount()}}</div>

            <div *ngFor="let item of searchResult.items"
                 class="item">
                <ghr-repository-list-item [item]="item"></ghr-repository-list-item>
            </div>

            <footer *ngIf="searchResult.items.length < searchResult.total_count">
                <button mat-raised-button (click)="onLoadMoreClicked()">load more</button>
            </footer>
        </div>
    </section>

</div>
