@import "../../../styles/variables.less";

.repository-details {
    background: #fff;
    border-left: 1px solid @color-selected;
    border-right: 1px solid @color-selected;
    border-bottom: 1px solid @color-selected;

    header {
        background: @color-selected;
        color: #fff;
        font-size: 12px;
        padding: 10px 16px 8px;
        position: relative;

    }
    &--pagination {
        display: inline-block;
        position: absolute;
        right: 0;
        top: -5px;
    }
    &--pagination-info {
        color: @color-lighter-gray;
    }

    .issue {
        padding: 8px 16px;
        border-bottom: 1px solid @color-lighter-gray;

        &--title {
            font-weight: 500;
            font-size: 13px;

            a {
                color: @color-info;
                text-decoration: none;

                &:hover {
                    color: @color-primary;
                }
            }

            .mat-icon {
                font-size: 14px;
                width: 16px;
                height: 14px;
                position: relative;
                top: 2px;
            }

            &.open .mat-icon {
                color: @color-primary;
            }
            &.closed mat-icon {
                color: @color-light-gray;
            }
        }

        &--details {
            color: @color-info;
            font-size: 12px;
            padding: 2px 0 0 20px;
        }

        &--issue-body {
            font-size: 12px;
            padding: 10px 14px;
            border: 1px solid #999;
        }
    }
}
