<div class="repository-details">
    <header>
        <span>{{formatIssuesCount()}}</span>

        <span class="repository-details--pagination"
             *ngIf="paginationDetails.max_pages > 1">
            <button mat-icon-button (click)="loadPreviousPage()"
                    *ngIf="paginationDetails.current_page > 1">
                <mat-icon>arrow_left</mat-icon>
            </button>
            <span class="repository-details--pagination-info">Page #{{paginationDetails.current_page}} of {{paginationDetails.max_pages}}</span>
            <button mat-icon-button (click)="loadNextPage()"
                    *ngIf="paginationDetails.current_page < paginationDetails.max_pages">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </span>
    </header>

    <div>
        <div *ngFor="let issue of issueSearchResult.items"
             class="issue">
            <h1 class="issue--title"
                [ngClass]="{'open': isOpen(issue), 'closed': !isOpen(issue)}">

                <mat-icon *ngIf="!isOpen(issue)">check_circle_outline</mat-icon>
                <mat-icon *ngIf="isOpen(issue)">error</mat-icon>
                {{issue.title}}
            </h1>

            <div class="issue--details" [innerHTML]="formatIssueDetails(issue)"></div>
        </div>
    </div>
</div>
