<mat-toolbar class="header"
             fxLayout="row">
    <span class="header--title"
          fxFlex>
        <span class="header--title__github">GitHub</span>
        <span class="header--title__appname">Repositories</span>
    </span>

    <span class="header--search-field"
          fxFlex="60">
        <mat-icon class="search-icon" *ngIf="!isSearching">search</mat-icon>
        <mat-icon class="loading-icon spin" *ngIf="isSearching">loop</mat-icon>
        <input #queryField
               type="text"
               placeholder="Search repository by name"
               (keyup)="onQueryChange(queryField.value)">
    </span>

    <span fxFlex class="header--creator-info">
        <mat-icon>info</mat-icon>
    </span>
</mat-toolbar>
